body {
    background-color: #1A1A1D;
    color: #EAEAEA;
    font-family: Arial, sans-serif;
}

a {
    color: #00D1FF;
}

a:hover {
    color: #00A3D1;
}

.header {
    background-color: #121212;
    color: #EAEAEA;
    padding: 2rem;
}

.docs-section {
    background-color: #1A1A1D;
    border-top: 1px solid #00D1FF;
    padding: 3rem;
}

h1, h2, h3 {
    color: #00D1FF;
}

.navbar {
    display: flex;
    justify-content: center; /* This will center the navigation bar */
    align-items: center;
    background-color: #121212;
    border-bottom: 1px solid #00D1FF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 0;
}

.navbar-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-item {
    margin: 0 15px; /* Adjust the space between each nav item */
}

.navbar-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #00D1FF;
    padding: 1rem 2rem;
    text-decoration: none;
    display: block; /* Ensure the link takes up the full space */
}

.navbar-link:hover {
    color: #00A3D1;
}

.value-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #00D1FF;
}

.value-prop {
    margin-top: 2rem;
}

.docs-header {
    color: #00D1FF;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
